*{margin: 0;padding: 0}
body{background: rgb(39,172,233);font-family: '微软雅黑'}
#head-banner{width:100%;height: 50px;background: #fffef9}
#head-container{width:80%;margin: 0 auto;background: rgb(248,252,254);height: 50px;overflow: hidden;}
#head-container img{margin: 5px;display: inline-block;}
#head-input-div{display: inline-block;vertical-align: top;margin: 10px 40px;width: 250px;height: 30px;background: rgb(242,242,245);position: relative;}
#head-input{display: inline-block;vertical-align: top;width: 250px;height: 30px;background: rgb(242,242,245);z-index: 1;position: absolute;left: 0;top: 0;}
#wbs{z-index: 2;position: absolute;height: 20px;right: 0;}
#head-ul{display: inline-block;height: 30px;vertical-align: top;margin-top: 15px;}
#head-ul ul{display: inline-block;margin-right: 20px;}
#head-ul ul li{display: inline-block;}
#head-ul ul li p{display: inline-block;line-height: 30px;vertical-align: top;margin:0;font-size: 15px;letter-spacing: 1.5px;color: rgb(105,110,120);}
#head-ul ul li img{height: 25px;margin: 0;}
#head-ul ul:last-child{margin-right: 0}
#head-ul ul:last-child li{border-right: solid 1px #74787c;padding-right: 15px;line-height: 10px;}
#head-ul-tail{display: inline-block;height: 30px;vertical-align: top;margin-top: 15px;}
#head-ul-tail ul{display: inline-block;}
#head-ul-tail ul li{display: inline-block;}
#head-ul-tail ul li img{height: 25px;margin: 0}
#container{margin: 0px auto;width: 80%;position: relative;}
#oback{margin: 0px auto;width: 100%;height: 800px;background:black;opacity: 0.1;z-index: -1;position: relative;}
/*left*/
#left{color:white;position: absolute;left: 0;top: 0;width: 15%;display: inline-block;}
#left-top{padding: 10px 0;border-bottom: groove 0.5px white;}

#p{margin: 15px 10px;position: relative;}
#p p{font-size: 13px;letter-spacing: 1.5px;}
#red{width: 5px;height: 5px;background: rgb(248,125,69);border-radius: 2.5px;display: inline-block;position: absolute;right: 0;top: 30%}
#p-hide{margin: 15px 10px;font-size: 13px;letter-spacing: 1.5px;}
#show-p-div{width: 100px;margin: 0 auto;}
#left-btn{opacity: 0.5;width: 40px;height: 25px;}
/*middle*/
#middle{display: inline-block;width: 60%;position: absolute;top: 0;left: 15%;}
#middle-top{width: 100%;background: rgb(255,255,255);margin: 20px auto;border-radius: 2px;overflow: hidden;padding: 15px;}
#middle-top-text{color: rgb(233,115,95);font-size: 12px;overflow: hidden;height: 15px;}
#middle-top-text-1{display: inline-block;}
#middle-top-text-2{display: inline-block;}
#middle-top-text-3{display: inline-block;float: right;}
/*#middle-top-input{height: 80px;margin: 0 10px;}*/
#m-top-ta{width: 100%;height: 80px;margin-top: 10px;}
#middle-top-bottom{height: 22px;position: relative;overflow: hidden;}
#middle-top-bottom-ul{display: inline-block;}
#middle-top-bottom-ul ul li{display: inline-block;margin-right: 20px;font-size: 12px;color: rgb(51,51,51);}
#middle-top-bottom-tail{display: inline-block;height: 30px;float: right;overflow: hidden;}
#middle-top-bottom-tail-sl{display: inline-block;}
#middle-top-bottom-tail-btn{display: inline-block;}
#sub-btn{width: 70px;height: 20px;color: white;background: rgb(254,192,162);border: none;font-size: 15px;letter-spacing: 1.5px;}
#middle-list{background: rgb(255,255,255);width: 105%;border-radius: 2px;overflow: hidden;}
#list-top{padding: 15px;border-bottom: groove 0.5px rgb(242,242,245);overflow: hidden;}
#list-img{display: inline-block;}
#list-content{display: inline-block;width: 89%;vertical-align: top;margin-left: 10px;overflow: hidden;}
#user-name p{letter-spacing: 1px;}
#post-time{font-size: 11px;color: rgb(125,125,125);letter-spacing: 1px;}
#post-content{margin-top: 5px;}
#list-bottom{padding:10px;height: 12px;overflow: hidden;padding-bottom: 15px;}
#list-bottom ul li{display: inline-block;color: rgb(128,128,128);line-height: 12px;font-size: 12px;border-right: groove 0.5px rgb(242,242,245);width: 20%;text-align: center;margin: 0 10px;letter-spacing: 1.5px;}
.li-create{background:white;width:101.5%;padding:10px;margin:15px auto;border-radius:2px}
#right{display: inline-block;width: 22%;position: absolute;top: 0;right: 0;}
#right-top{width: 90%;background: white;margin: 20px auto;border-radius: 2px;}
#right-top-back-img{position: relative;}
#right-top-back-img img:first-child{width: 100%;z-index: -1;overflow: hidden;height: 100px;}

#right-top-back-img img:last-child{z-index: 1;width: 60px;height:60px;border-radius: 30px;overflow: hidden;border: groove 2px black;position: absolute;top: 50px;left: 70px;}
#top-user{margin: 20px auto;width: 50px;padding-bottom: 15px;}
#right-middle{width: 90%;background: white;margin: 20px auto;border-radius: 2px;}
#rm-content{width: 85%;height: 200px;background: white;border-radius: 2px;color: rgb(233,115,85);padding: 5px 15px;letter-spacing: 1.5px;}
